<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title><%= person %></title>
</head>
<body>
	<% include partials/nav.ejs %>
	<h1>Hello <%= person %></h1>
	<p>This is your profile</p>
</body>
</html>